body {
    background-color: rgb(240, 240, 240);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    text-align: center;
    padding: 0;
    font-size: 3.5rem;
}

.countdownButtonsDiv, .countdownDiv {
    display: flex;
    justify-content: center;
}

.countdown, p {
    text-align: center;
    font-size: 3rem;
    justify-content: center;
    margin: 0;
    background-color: rgb(240, 240, 240);
    border: 0;
    padding: 0;
}

.countdown:hover {
    background-color: rgba(200, 200, 200);
}

.cronoButton {
    background-color: white;
    text-align: center;
    display: grid;
    margin: 1rem 1rem 0px 1rem;
    border-style: solid;
    border-width: 2px;
    font-size: 1.5rem;
}

.cronoButton:hover {
    background-color: rgba(200, 200, 200);
}

