body {
    background-color: rgb(240, 240, 240);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    text-align: center;
    padding: 0;
    font-size: 3.5rem;
}

.countdownButtonsDiv, .countdownDiv, .quickAccess {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1em auto;
}

.countdown, p {
    text-align: center;
    font-size: 3rem;
    justify-content: center;
    margin: 0;
    background-color: rgb(240, 240, 240);
    border: 0;
    padding: 0;
}

.countdown:hover {
    background-color: rgba(200, 200, 200);
    cursor: default;
}

.cronoButton {
    background-color: white;
    text-align: center;
    margin: 0.2em;
    border-style: solid;
    border-width: 2px;
    font-size: 1.5rem;
}

.cronoButton:hover {
    background-color: rgba(200, 200, 200);
}
